/* ==========================================================================
   Author's custom styles
   ========================================================================== */

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

html {
  font-weight: 300;
}

body { 
    font: 13px Helvetica, Arial; 
}

section {

}

aside {
    background-color: #eeeeee;
}

footer {
    background-color: #a9a9a9;
    padding: 30px;
}

h4 {
    text-transform: uppercase;
}

li {
    list-style: none;
}

footer p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    margin: 0;
}

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* loginPage */

.login.page {
  background-color: #000;
}

.login.page .login_content, .end.page .end_content {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .login_content .nicknameInput {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  padding-bottom: 15px;
  text-align: center;
  width: 400px;
}

.login.page .title {
  font-size: 200%;
}

.login.page .nicknameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .nicknameInput {
  color: #fff;
  font-weight: 100;
}

/* Game Page */

.hangman.page, .end.page {
    display: none;
}

/* Users List */

.list {
    padding: 10px 10px 20px;
}

#usersList {
    width: 200px;
    height: 100%;
}

form { 
    background: #000; 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}

form button { 
    width: 9%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px; 
}

input.letterInput {
    width: 100%;
    padding: 1em;
    border: 0;
    background-color: #b9b9b9;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2em;
}

#picture {
    margin: 100px auto 0;
    width: 600px;
    height: 400px;
    box-shadow: 0px 0px 50px #ccc;
}

ul#lettersList li {
    list-style: none;
    font-size: 1.6em;
    float: left;
    padding: 12px;
}

ul#placeholder {
    width: 420px;
}

ul#placeholder li {
    list-style: none;
    float: left;
    padding: 20px;
    font-size: 1.6em;
    text-decoration: underline;
}

.centered{
    float: none;
    margin: 0 auto;
}

.col-md-9, .col-md-3, .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}